<table>
   <tr>
     <th>Text ID</th>
     <th>Language</th>
     <th>Text</th>
   </tr>

   <% @translations.each do |translation| %>
   <% tr_id = "#{translation.text_id}_#{translation.language}" %>
   <tr id="<%= tr_id %>" class="<%= cycle('even','odd') %>">
     <td class="idContainer"><%= link_to translation.text_id, translation %></td>
     <td class="languageContainer"><%= translation.language %></td>
     <td>
       <div class="translationContainer">
         <span class="originalText"><%= translation.original %></span><br/>
         <span class="translationText"><%= translation.text %></span>
       </div>
       <%= render 'editContainer', translation: translation %>
     </td>
     <td class="buttonContainer">
       <input type="button" class="edit" value="Edit"/>
       <input type="button" class="save" value="Save"/>
       <input type="button" class="cancel" value="Cancel"/>
       <%= image_tag "success.png", alt: "Success", class: "success", width: "16" %>
       <%= image_tag "fail.png", alt: "Failure", class: "fail", width: "16" %>
   </tr>
   <% end %>
</table>
