<%= form_for :translation do |f| %>
  <p>
    <%= f.label :id %><br/>
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :language %><br/>
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :text %><br/>
    <%= f.text_field :text %>
  </p>
<% end %>
