<p>
  <strong>Text ID:</strong>
  <%= @translation.text_id %>
</p>
<p>
  <strong>Language:</strong>
  <%= @translation.language %>
</p>
<p>
  <strong>Text:</strong>
  <%= @translation.text %>
</p>
<p>
  <strong>History:</strong>
  <ul>
    <% @translation.translation_histories.all.each do |h| %>
    <li><%= h.created_at %> <%= h.text %>
    <% end %>
  </ul>
</p>
