<%= render 'translationList', translations: [@translation] %>
<%= link_to "Show all languages", @translation.text_id %>
<p>
  <strong>History:</strong>
  <table id="history">
    <tr>
      <th>Replaced at</th>
      <th>Text</th>
    </tr>
    <% @translation.translation_histories.all.reverse.each do |h| %>
    <tr class="<%= cycle('even','odd') %>">
      <td><%= h.created_at %></td><td><%= h.text %></td>
    </tr>
    <% end %>
  </table>
</p>
